[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
paho-mqtt = "*"
"boto3" = "*"
flask = "*"
gunicorn = "*"
connexion = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
